In [1]:
class menucafe:
  def __init__ (self, nama, harga):
    self.nama = nama
    self.harga = harga

  def rincian(self):
    return(self.nama + ": Rp " + str(self.harga))

  def total_bayar(self, jumlah):
    total = self.harga * jumlah
    return(total)


print("------------------------------------------")
print("Selamat datang di cafe full flowvy.")
print("------------------------------------------")
pembeli = input("Siapa nama anda? ")
print(" ")
print("-------------- {   MENU   } --------------")

drink1 = menucafe('Americano', 18000)
drink2 = menucafe('Vanilla Latte', 18000)
drink3 = menucafe('Cappucino', 15000)
drink4 = menucafe('Machiato', 18000)
drink5 = menucafe('Oreo Milkshake', 15000)
meals1 = menucafe('Lava Cake', 16000)
meals2 = menucafe('Crepe Cake', 17000)
meals3 = menucafe('Sponge Cake', 20000)
meals4 = menucafe('Cheese Cake', 20000)
meals5 = menucafe('Lunch Box Cake', 23000)

------------------------------------------
Selamat datang di cafe full flowvy.
------------------------------------------
Siapa nama anda? elen

-------------- {   MENU   } --------------